input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: rgb(42, 0, 229);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    margin-left: 35%;
    margin-top: 2vh;
}